a {
  text-decoration: none !important;
}

.icon {
  display: inline-block;
  padding: 1px;
  font-size: 20px !important;

  &:hover {
    opacity: 0.6;
  }
}

.delete-icon,
.inactive-icon {
  color: red;
  margin-right: 5px;
}

.edit-icon {
  color: #2e6da4;
  margin-left: 5px
}

.active-icon {
  color: #5cb85c;
}

.mg-top-10 {
  margin-top: 10px;
}

.active {
  color: #3b913b;
}

.inactive {
  color: red
}
