@import "color.scss";

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray;
}

footer a {
  color: $gray_darker;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid $gray-light;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;

  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.pagy-bootstrap-nav {
  display: flex;
  justify-content: center;
}

.custom-select {
  width: 20% !important;
}

.form-inline .form-control {
  vertical-align: top;
}

.text-danger {
  color: #a94442;
  margin-top: -8px;
  margin-bottom: 10px;
}

.remove-ans {
  margin: 15px;
}

.save-question {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* margin */
.mg-top-24 {
  margin-top: 24px;
}

/* table */
td {
  vertical-align: middle !important;
}

.status {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;

  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-weight: bold;
  color: white
}

.start-status {
  background-color: $primary;
}

.completed-status,
.doing-status {
  background-color: $info;
}

.passed-status {
  background-color: $success;
}

.failed-status {
  background-color: red;
}

.question-title {
  font-size: 20px;
}

.answer-collect {
  margin-left: 30px;
  margin-top: 20px;
}

// answer in exam

.answer-collect>label {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  input {
    margin-top: 0 !important;
    width: 20px;
    margin-right: 10px;
    font-weight: normal !important;
  }
}

.timer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 50px;
  top: 70px;
  font-size: 20px;
  border: 1px solid;
  background-color: rgba(255, 255, 204, 0.5);
  width: 6%;
}

.countdown {
  font-size: 20px;
  font-weight: 500;
}

.justify-center {
  display: flex;
  justify-content: center;
}
